/* styles for pu-cas-login template; customized for use with
mezzanine / grappelli */

/* override default spacing */
.login #login-form {
    margin-top: 25px;
}
.login #content-main {
    margin-top: 0 !important;
}

 /* match mezzanine/grappelli main content size,
    use Princeton colors and image,
    make CAS link look like a button and align it with
    the other login button to make it clear they are
    alternatives.
  */
.cas-login {
    margin: 50px auto 5px;
    width: 450px;
    text-align: left;
}

/* match default grappelli login window size */
.grp-container .cas-login {
    width: 380px;
}
.cas-login a {
    background-image: url('https://fed.princeton.edu/cas/images/pu_signature_web.jpg');
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 175px;
    height: 55px;
    margin-bottom: 25px;
    display: inline-block;
    font-size: 15px;
}
.cas-login .button {
    /* princeton orange */
    background-color: #ee7f2d;
    display: inline-block;
    /* override Chrome/webkit gradient background */
    background: -webkit-gradient(linear, left top, left bottom, from(#ee7f2d), to(#ee7f2d));
    margin-top: 15px;
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
